.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-start_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.popup_img {
  height: 200px;
}

.popup-link-box {
  margin-bottom: 20px;
}

.answers_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.question_box {
  text-align: center;
}

.ans-text {
  font-size: 16px;
}

#ans-text_4 {
  font-size: 20px;
}

.podarok-text {
  font-size: 36px;
}

.popup_false {
  font-size: 24px;
  background-color: #f02850;
  width: 220px;
  background-color: #ffffff;
  padding: 12px 8px;
  border-radius: 10px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -120px);
          transform: translate(0px, -120px);
}
.popup_false .popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 0.4;
}

#scrin-img {
  height: 300px;
}